//COLOR
$background: #FDF0D5;
$background-light: #fdf3dd;
$light: #ebeaea;
$body-text-color: #3A3335;
$accent-dark: #3A435E;
$accent-light:#5f6e9b;
$accent-lightest: #9ba4c1;
$gray: #d3d7de;

//FONT
$logo-font:'Fjalla One',
sans-serif;
$body-font:'Roboto',
san-serif;

//SIZE
$nav-height:50px;
$border-radius:3px;
$max:650px;
$min:320px;

//TIME
$anim-time: .2s;

//EXTENDS
%input-shared {
    background-color:inherit;
    border-style:none;
    box-shadow:none;
    border-bottom: 1px solid $accent-lightest;
    // color: $body-text-color;
    font-size: inherit;
    // border-radius:3px;
    padding: 2px;
    transition: all 0.5s ease; 
}

%input-shared-focus {
    border-bottom: 1px solid $accent-dark;
    background-color:$gray;
    outline:none;
}

//IMPORTS
@import 'stylesheets/splash';
@import 'stylesheets/nav';
@import 'stylesheets/player';
@import 'stylesheets/modal';
@import 'stylesheets/loader';

//REMOVE DEFAULTS
button:focus {
    outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

//THEME
* {
    box-sizing: border-box;
}

body {
    background-color: $background;
    color: $body-text-color;
    font-family: $body-font;
    font-size: 1em;
    overflow: hidden;
    overflow-x: auto;
    min-width: $min;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    transition: all .2s;   
}

div {
    box-sizing:border-box;
}

.app {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    min-height: 350px;
}

.logo {
    font-family: $logo-font;
    padding: 8px 0;
    text-transform: uppercase;
    font-size: 2em;
    color: $accent-dark;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: $body-text-color;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: $accent-light;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: $accent-dark;
}


@media screen and (max-width: 575px) { 
    nav {
        .logo {
            display:none;
        }
        ul {
            width:100%;
        }
    }
    
    .action {
        flex-wrap:wrap;
    }
    .action .title {
        width:100%;
        padding-bottom:5px;
    };
    
    .time {
        flex-grow:1;
    }

    .modal {
        .modal-content {
            width:95vw;
            height:95vh;
        }
    }



    .time {
        .time-input input {
            border-bottom:none;
            // color:red;
        }
    }

  

   
   
 }