nav {
    background-color: $background;
    position: fixed;
    top: 0;
    width: 100vw;
    max-width: $max;
    height: $nav-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        align-items: center;
        height: $nav-height;
    }
    li {
        vertical-align: middle;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
    li:hover {
        background-color: $background;
        button {
            color: $accent-light;
        }
    }
    button {
        font-weight: 200;
        font-family: $logo-font;
        color: $accent-dark;
        text-transform: uppercase;
        font-size:1.1em;
    }
}

.sequence-list {
    color:inherit;
    font-family:$body-font;
    p {
        width:90%;
        display:inline-block;
    }
    div {
        border-bottom: 1px solid $background;
    }
    button {
        display:inline-block;
        width:10%;
        font-size: 1em;
        color:$background;
    }
    button:hover {
        color:$accent-light;
    }
}