.player {
    margin: 0 auto;
    max-width: $max;
    // padding: 0 5px;  
    font-family: $body-font;
    width: 100%;
    display: flex;
    flex-flow: column;
    @extend %default-fadeIn;
}

.sequenceControls {
    position:fixed;
    width:100%;
    top:$nav-height;
    max-width:$max;
    z-index:100;
    background-color:$background;
}

.sequenceTitle {
    input {
        width: 100%;
        font-family: $body-font;
        font-size: 1em;
        color: $body-text-color;
        font-style: italic;
        @extend %input-shared;
    }
    input:focus {
        @extend %input-shared-focus;
    }
}

.controls button,
.player>button, .actions>button {
    border-radius: $border-radius; // border:solid 1px $accent-dark;    
    background-color: $accent-dark;
    font-family: inherit;
    color: $background;
    text-transform: uppercase;
    font-size: .9em;
    padding: 6px 12px;
    .icon {
        color: $background;
        margin-right: 6px;
    }
    &:hover:enabled {
        background-color: $accent-light;
    }
    &:disabled {
        background-color: $accent-lightest;
        color: $gray;
        cursor: default; // border:solid 1px $accent-lightest;        
    }
}

.controls button:focus {
    background-color: $accent-light;
}

button.save:enabled {
    animation: .2s 4 alternate bounce;
}

@keyframes bounce {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
}

.controls {
    width: 100%;
    display: flex; // justify-content: space-between;
    padding: 10px 0;
    button {
        margin-right: 4px;
        min-width: 100px;
    }
    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sub {
        flex-grow: 1;
        .icon {
            color: $body-text-color;
        }
        button {
            width: 100%;
            background-color: $background;
            text-align: right;
            color: $body-text-color;
        }
        button:hover {
            color: $accent-light;
            font-weight:bold;
            .icon {
                color: $accent-light;
            }
            background-color:$background;
        }
        button:focus {
            color: $accent-light;
        }
    }
}

//Actions
.actions {
    padding: 2px;
    overflow-y:auto;
    width:100%;
    max-width:$max;
}

.action {
    display: flex;
    padding: 7px;
    margin: 7px 0;
    @extend %default-fadeIn;
    input {
        @extend %input-shared;
    }
    input:focus {
        @extend %input-shared-focus;
    }
    .title {
        flex-grow: 1;
        input {
            display: inline-block;
            width: 99%;
        }
    }
    .time {
        width: 20%;
        display: flex;
        align-items: center;
        .time-input {
            display: inline-block;
        }
        input {
            width: 40px;
            display: inline-block;
            text-align: center;
        }
        label {
            color: $accent-light;
            display: inline-block;
            padding: 0 4px 0 3px;
            vertical-align: bottom;
            text-transform: uppercase;
            font-size: 1em;
        }
    }
    button {
        color: $accent-dark;
        font-size: 1.2em;
    }
    button:hover, button:focus {
        color: $accent-light;
    }
    button:disabled {
        color: $gray;
        cursor: default;
    }
    .move {
        margin-left: auto;
        font-size: 1em;
        width: 70px;
    }
    .remove {
        width: 40px;
        button {
            float: right;
        }
    }
}

%active-font {
    font-size: 1em;
    font-weight: 700;
    border-bottom: none;
    color: $accent-dark;
}

.actions .action.active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: $background-light;
    input {
        @extend %active-font;
    }
}

.elapsed {
    @extend %active-font; // width:70%;  
    margin: auto; // text-align: center;
    div {
        display: inline;
    }
}

.top {
    width:100%;
    margin: 10px 0;
}