.player {
    margin: 0 auto;
    max-width: $max;
    padding-top: $nav-height + 10px;
    font-family: $body-font;
    width: 100%;
}

.sequenceTitle {
    input {
        width: 100%;
        font-family: $body-font;
        font-size: 1em;
        color: $body-text-color;
        font-style: italic;
        @extend %input-shared;
    }
    input:focus {
        @extend %input-shared-focus;
    }
}

.controls button,
.player>button {
    border-radius: $border-radius;
    background-color: $accent-dark;
    font-family: inherit;
    color: $background;
    text-transform: uppercase;
    font-size: .9em;
    padding: 6px 12px;
    .icon {
        color: $background;
        margin-right: 6px;
    }
    &:hover:enabled {
        background-color: $accent-light;
    }
    &:disabled {
        background-color: $accent-lightest;
        color: $gray;
        cursor: default;
    }
}

button.save:enabled {
    animation: .2s 4 alternate bounce;
}

@keyframes bounce {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    button {
        margin-right: 4px;
        min-width: 100px;
    }
    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

//Actions
.actions {
    overflow-y: auto;
    height: 60vh;
    position:relative;
}

.action {
padding-bottom:6px;    //TODOD CHECK THIS
    // height: 1em;
    display: flex;
    input {
        @extend %input-shared;
    }
    input:focus {
        @extend %input-shared-focus;
    }
    .title {
        flex-grow:1;
        // height: 100%;
        input {
            display: inline-block;
            width: 99%; 
        }
    }
    .time {
        width: 20%;
        .time-input {
            display: inline-block;
        }
        input {
            width: 40px;
            display: inline-block;
            text-align: right;
        }
        label {
            color: $accent-light;
            display: inline-block;
            padding: 0 4px 0 3px;
            vertical-align: bottom;
            text-transform: uppercase;
            font-size:.7em;
        }
    }
    button {
        color:$accent-dark;
        font-size:1em;
    }
    button:hover {
        color:$accent-light;
    }
    .move {
        margin-left: auto;
        font-size: 1em;
        width:70px;
    }
    .remove {
        width:40px;
        button {
            float:right;
        }
    }
}

%active-font {
    font-size: 1em;
    font-weight: 700;
    border-bottom: none;
}

.actions .action.active {
    input {
        // @extend %active-font;
    }
}

.elapsed {
    @extend %active-font; // width:70%;  
    margin: auto; // text-align: center;
    div {
        display: inline;
    }
}

button.add {
    margin: 0 auto;
    display: block;
    width: 50%;
}


