.splash {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $accent-dark;
    @extend %default-fadeIn;
    .logo {
        color: $background;
        font-size: calc(7vw + 1em); // font-weight: 600
        padding:20px 0;
    }
    h2 {
        font-family: $body-font;
        font-size: calc(1vw + .7em);
        font-weight: 100;
        color: $background;
        text-align: center;
    }
    .enter {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8vw;
        margin: 12px 0;
        button {
            border-radius: $border-radius;
            background-color: $background;
            font-family: $body-font;
            color: $accent-dark;
            text-transform: uppercase;
            font-size: .9em;
            padding: 6px 12px;
        }
    } // .radial {
    //     background: radial-gradient(circle closest-side, $accent-dark 50%, $background);
    //     height: 80vw;
    //     width: 80vw;
    //     border-radius: 50%;
    //     z-index: -1;
    //     position: fixed;
    //     min-width: 600px;
    //     min-height: 600px;
    //     animation: throb 20s alternate infinite;
    // }
    // @keyframes throb {
    //     0% {
    //         height: 140vh;
    //         width: 140vh;
    //     }
    //     100% {
    //         height: 280vh;
    //         width: 280vh;
    //     }
    // }
}